{% load bootstrap %}

<style>
#container{
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    height: 98%;
}
#cabecalho {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-around;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

#corpo {
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 98%;
    border-top: 2px solid black;
}

.paragrafo{
    text-align:justify;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.itens{
    text-align: left;
    padding-left: 20px;
}

#detalhes{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom: 10px;
}

#assinatura{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 300px;
    margin-top: 60px;
    border-top: 2px solid black;
}

.assinatura{
    margin-top: 2px;
    padding: 2px;
}

#rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid black;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    bottom: 0;

}

#rodape1 {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    text-align: center;
    margin-top: 6px;
}

#rodape2 {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-around;
    text-align: center;
    margin-top: 0px;
}

#rodape3 {
    margin-top: 10px;
}

#gmb1 {
    border: 2px solid rgb(0, 5, 10);
    text-align: center;
    height: 100px;
    width: 230px;
    margin: 5px;
}

#gmb2 {
    border: 2px solid rgb(0, 4, 9);
    text-align: center;
    height: 80px;
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

#gmb3 {
    border: 2px solid rgb(0, 7, 15);
    text-align: center;
    height: 100px;
    width: 230px;
    margin: 5px;
}

.h3 {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.h4 {
    text-align: center;
    margin-top: 2px;
}

.h5 {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.5;
}

.h6 {
    line-height: 0.5;
}

.texto {
    font-size: 14px;
    font-family: Arial;
    margin-top: 0px;
}

.texto3 {
    font-size: 8px;
    font-family: Arial;
}

.texto4 {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 25px;
}

.textob {
    margin-top: 25px;
}

.brasao{
    text-align: center;
    height: 80px;
    width: 120px;
    margin-top: 2px;
}

#logo2{
    line-height: 1.5;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* altura do rodapé */
  background-color: white;
  margin-bottom: 40px;
}

</style>

    <div id="container">
        <div id="cabecalho">
            <div id="logo1">
                <div class="brasao">
                    <img id="img-index2" style="height: 80px; width: 80px;" src="/static/image/estado.png">
                </div>
            </div>
            <div id="logo2">
                <h5 class="h5">ESTADO DE SANTA CATARINA</h5>
                <h5 class="h5">SECRETARIA DE ESTADO DA ADMINISTRAÇÃO PRISIONAL E SOCIOEDUCATIVA</h5>
                <h5 class="h5">ACADEMIA DE ADMINISTRAÇÃO PRISIONAL E SOCIOEDUCATIVA</h5>
                <h5 class="h5">GERÊNCIA DE MATERIAL BÉLICO – GMB</h5>
            </div>
            <div id="logo3">
                <div class="brasao">
                    <img id="img-index" style="height: 80px; width: 80px;" src="/static/image/gmb.jpeg">
                </div>
            </div>
        </div>
        <div class="corpo">
            <p class="texto4"><span>TERMO DE RECEBIMENTO DE ARMA</span></p>
            <p class="paragrafo texto textob">
                Declaramos para os devidos fins, que {{ restricoes.responsavelentrega }}, entregou nesta gerência o
                material abaixo conforme o processo SGPE nº {{ restricoes.sgpe }}:
            </p>
            <div>
                <table border="1">
                    <tr>
                        <td style="width:150px">Nº SÉRIE</td>
                        <td style="width:150px">Nº PATRIMÔNIO</td>
                        <td style="width:150px">ESPÉCIE</td>
                        <td style="width:150px">MARCA</td>
                        <td style="width:150px">MODELO</td>
                    </tr>
                    <tr>
                        <td style="width:150px">{{ restricoes.serie }}</td>
                        <td style="width:150px">{{ restricoes.patrimonio }}</td>
                        <td style="width:150px">{{ restricoes.especie }}</td>
                        <td style="width:150px">{{ restricoes.marca }}</td>
                        <td style="width:150px">{{ restricoes.modelo }}</td>
                    </tr>
                </table>
            </div>
            <p class="itens texto textob">Observações: -  </p>
            <div id="detalhes">
                <div>
                    <h4 class="texto" style="margin-top: 150px;">São Pedro de Alcântara, {{ restricoes.datacautela }}.</h4>
                </div>
                <div id="assinatura">
                    <h5 class="assinatura texto" style="width: 500px">{{ restricoes.responsavelrecebimento }}</h5>
                    <h5 class="assinatura texto">Gerência de Material Bélico</h5>
                </div>
            </div>
            <footer id="footer">
                <h5>GERÊNCIA DE MATERIAL BÉLICO - GMB </h5>
                <h6 class="texto3 h6">Rua Adriano Enning, s/n, Santa Tereza, São Pedro de Alcântara – CEP: 88125-000. Casa 4.</h6>
                <h6 class="texto3 h6">Telefone: (48) 3244-2845 / 3249-1725 – E-mail: gmb@acaps.sc.gov.br</h6>
            </footer>
        </div>
    </div>

