{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}


<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

     {{ bootstrap }}

    <h4>FABRICANTE DE MUNIÇÃO</h4>

<!-- Nome Marca -->
    <div class="form-group col-md-4">
        <label>NOME DO FABRICANTE</label>
        <input class="form-control" id="marcaMunicao" name="marcaMunicao" type="text" required>
    </div>

  <div class="form-group col-md-12">

         <button>Salvar</button>

  </div>
      <div class="preview">
      <p>.</p>
      </div>
        <p>.</p>
</form>


{% endblock %}