<style>
    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }

    #container {
        align-items: center;
        text-align: center;
        margin-top: 0px;
        margin-left: 5px;
        margin-right: 5px;
        height: 98%;
    }

    #cabecalho {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    #corpo {
        align-items: center;
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        height: 98%;
        border-top: 2px solid black;
    }

    .paragrafo {
        text-align: justify;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    .itens {
        text-align: left;
        padding-left: 20px;
    }

    #detalhes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    #assinatura {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin-top: 60px;
        border-top: 2px solid black;
    }

    .assinatura {
        margin-top: 2px;
        padding: 2px;
    }

    #assinatura_gmb {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin-top: 60px;
        border-top: 2px solid black;
    }

    #rodape {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 2px solid black;
        margin-left: 15px;
        margin-right: 15px;
        position: absolute;
        bottom: 0;

    }

    #rodape1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
        margin-top: 6px;
    }

    #rodape2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
        margin-top: 0px;
    }

    #rodape3 {
        margin-top: 10px;
    }

    #gmb1 {
        border: 2px solid rgb(0, 5, 10);
        text-align: center;
        height: 100px;
        width: 230px;
        margin: 5px;
    }

    #gmb2 {
        border: 2px solid rgb(0, 4, 9);
        text-align: center;
        height: 80px;
        width: 120px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

    #gmb3 {
        border: 2px solid rgb(0, 7, 15);
        text-align: center;
        height: 100px;
        width: 230px;
        margin: 5px;
    }

    .h3 {
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .h4 {
        text-align: center;
        margin-top: 2px;
    }

    .h5 {
        text-align: center;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0.5;
    }

    .h6 {
        line-height: 0.5;
    }

    .texto {
        font-size: 14px;
        font-family: Arial;
        margin: 0px;
    }

    .texto3 {
        font-size: 8px;
        font-family: Arial;
    }

    .texto4 {
        font-size: 18px;
        font-weight: bold;
        font-family: Arial;
        margin-top: 15px;
    }

    .cidade {
        margin-top: 25px;
    }

    .brasao {
        text-align: center;
        height: 80px;
        width: 120px;
        margin-top: 2px;
    }

    #logo2 {
        line-height: 1.5;
    }
</style>

<div id="container">
    <div id="cabecalho">
        <div id="logo1">
            <div class="brasao">
                <img id="img-index2" style="height: 80px; width: 80px;" src="/static/image/estado.png">
            </div>
        </div>
        <div id="logo2">
            <h5 class="h5">ESTADO DE SANTA CATARINA</h5>
            <h5 class="h5">SECRETARIA DE ESTADO DA ADMINISTRAÇÃO PRISIONAL E SOCIOEDUCATIVA</h5>
            <h5 class="h5">ACADEMIA DE ADMINISTRAÇÃO PRISIONAL E SOCIOEDUCATIVA</h5>
            <h5 class="h5">GERÊNCIA DE MATERIAL BÉLICO – GMB</h5>
        </div>
        <div id="logo3">
            <div class="brasao">
                <img id="img-index" style="height: 80px; width: 80px;" src="/static/image/gmb.jpeg">
            </div>
        </div>
    </div>
    <div class="corpo">
        <p class="texto4"><span>TERMO DE CAUTELA DE MATERIAIS</span></p>
        <p class="paragrafo texto">
            Eu, {{ cautela.responsavel }}, Policial Penal, matricula {{ cautela.matricula }}, lotado na(o)
            {{ cautela.unidade }}, declaro que recebi, sob regime de acautelamento, conforme processo SGPE
            de número {{ cautela.sgpe }}, os
            seguintes itens:
        </p>
        <div style="align-items: center; text-align:center">
            <div style="align-items: center; text-align:center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 130px;">Identificador</th>
                            <th style="width: 90px;">Serie</th>
                            <th style="width: 90px;">Especie</th>
                            <th style="width: 300px;">Fabricante - Modelo</th>

                            <th style="width: 250px;">Observacao</th>
                            <th style="width: 50px;">Qtd</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material in cautela.materialcautelatotal_set.all %}
                        <tr>
                            <td style="width: 130px;">{{ material.material_geral }}</td>
                            <td style="width: 90px;">{{ material.serie }}</td>
                            <td style="width: 90px;">{{ material.especie }}</td>
                            <td style="width: 300px;">{{ material.fabricante }} - {{ material.modelo }}</td>

                            <td style="width: 250px;">{{ material.observacao }}</td>
                            <td style="width: 50px;">{{ material.quantidade }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <p class="paragrafo texto">
            Declaro pelo presente documento que recebi o(s) bem(ns) patrimonial(ais) acima(s) relacionado(s),
            ficando totalmente responsável pela guarda do(s) mesmo(s), até uma nova transferência
            ou baixa definitiva do(s) mesmo(s) ou ainda a devolução quando solicitado pela Gerência
            de Material Bélico ou pela Corregedoria. Nos termos da Lei nº 10.826/2003 e suas
            regulamentações, Lei Complementar nº774/2021, e ainda as Portarias 145/GABS/SAP/2020 e
            845/GABS/SAP/2020.
        </p>
        <p class="paragrafo texto">
            Declaro, ainda, que estou ciente das responsabilidades legais relacionadas à posse deste(s)
            bem como dos riscos que o uso indevido pode representar para mim e para terceiros.
        </p>
        <div id="detalhes">
            <div class="cidade">
                <h4 class="texto">São Pedro de Alcântara, {{ cautela.data_cautela|date:"d/m/Y" }}.</h4>
            </div>
            <div id="assinatura">
                <h5 class="assinatura texto" style="width: 500px;">{{ cautela.responsavel }}</h5>
                <h6 class="texto">POLICIAL PENAL</h6>
                <h6 class="texto">{{ cautela.matricula }}</h6>
            </div>
            <div id="assinatura_gmb">
                <h5 class="assinatura texto" style="width: 500px;">{{ first_name }}</h5>
                <h6 class="texto">{{ user.username }}</h6>
                <h6 class="texto">GMB</h6>
            </div>
        </div>
        <div id="rodape" style="width: 100%;">
            <div id="rodape1">
                <h5 class="h4 texto">GERÊNCIA DE MATERIAL BÉLICO - GMB </h5>
            </div>
            <div id="rodape3">
                <h6 class="texto3 h6">Rua Adriano Enning, s/n, Santa Tereza, São Pedro de Alcântara – CEP: 88125-000.
                    Casa 4.</h6>
                <h6 class="texto3 h6">Telefone: (48) 3244-2845 / 3249-1725 – E-mail: gmb@acaps.sc.gov.br</h6>
            </div>
        </div>
    </div>
</div>