.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	background-color: #818286;
}

.navbar .navbar-brand {
	color: white;
}

.navbar .navbar-brand:hover {
	color: #FFF;
}

.navbar .nav-item .nav-link {
	color: #FFF;
	transition: .5s;
}

.nav-link-matbel a {
    color: #e6f0f9;
}

.navbar .nav-item .nav-link:hover {
	background-color: #FFF;
	color:#29AB87;
}

.submenu-auth {
	background-color: #111;
    position: relative;
    top: -16px;
    width: 100%;
    padding: 10px;
}

.card {
	margin: auto;
	border-radius: 0;
}

.card-img-top {
	border-radius: 0;
}

.card .btn-primary {
	background-color: #29AB87;
	border-color: #29AB87;
}

.card .btn-primary:hover {
	background-color: #FFF;
	color: #29AB87;
}

.row .jumbotron {
	background-color: #00A572;
	color: #FFF;
	margin-top: 50px;
}

.card .btn.btn-primary {
	margin: auto;
	display: block;
}

.logged-in-p {
	background-color: #000;
	color: #FFF;
	padding: 10px;
	width: 100%;
}

.logged-in-p span {
	display: block;
	float: right;
}

.logged-in-p a {
	color: #ffe484;
}

.container .step-links {
	display: block;
    width: 200px;
    margin: 30px auto;
    height: 50px;
    position: relative;
    text-align: center;
    padding-top: 15px;
}

body footer {
	height: 200px;
	margin: 0 0 30px; /* altura do seu footer */
	position: relative;
	border-top: 3px solid #00A572;
}

.step-links a {
	color: #00A572;
	transition: .5s;
}

.step-links a:hover {
	color: #000;
}

footer {
position: auto;
background-color: darkblue;
width:10%;
height: 4px;
left:0;
bottom:0;
}

footer .copy {
	position: absolute;
    bottom: 15px;
    margin: auto;
    width: 100%;
    text-align: center;
}

#mensa {
    color: darkblue;
}

#menu_lateral {
    margin-bottom: 80px;
}

#menu_direita {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.buttons {
    margin: 10px;
    width: 380px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ancora {
    color: white;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 5px 0px 5px 0px;
    border-radius: 15px;
    background-color: #29AB87;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2.5px;
}

.ancora:hover {
    color:  #29AB87;
    border: 1px solid  #29AB87;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 2px 0 2px 0;
    border-radius: 15px;
    background-color: white;
}


@media screen and (max-width: 600px) {
    #row-index {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    #menu_direita {
        width: 98%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #menu_lateral {
        display: none;
      }
    #img-index {
        width: 200px;
        height: 200px
    }

}

@media (min-width: 768px){
    #menu_lateral {
        display: none;
    }
    .navbar-collapse.collapse {
        height: 100%;
    }  
}
